---
variable_for_tag: 4
title: Welcome, visitor!
layout: default
permalink: /
---

<h1>{{ page.title }}</h1>
<p style="float: right; margin-top:-50px;" id="date"></p>

  <script>
    function displayCurrentDate() {
      var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
      var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      var currentDate = new Date();
      var day = currentDate.getDate();
      var monthIndex = currentDate.getMonth();
      var month = months[monthIndex];
      var year = currentDate.getFullYear();


      document.getElementById("date").textContent = days[currentDate.getDay()] + ", " + day + ". " + month + " " + year;;
    }
    displayCurrentDate();
  </script>


<p>{{ site.description }}<p>

<blockquote class="important-notice">
This website is still under heavy development. If you want to stay in touch with this project, add the site to your bookmarks and check in later. The best is yet to come! :)
</blockquote>

<h3>Topics by Tags</h3>
  <p>Here you can find some tags to various articles. Choose one that interests you and start your reading right away:</p>
<ul>
    {% for tag in site.tags %}
    <li><a href="/tags/{{ tag[0] }}">{{ tag[0] }}</a></li>
  {% endfor %}
</ul>

<figure>
    <img src="{% link /assets/img/coal-powerplant.jpg %}"/>
    <figcaption>fig:coalpp - Coal Power Plant in England. </br>&copy; cattan2011 | CC-BY 2.0</figcaption>
</figure>

<h3>Recent Posts</h3>
<p>Here are the newest articles I've published:</p>
<ul>
  {% for post in site.posts limit:10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

