
$sidebar-primary: #074280;
$sidebar-secondary: #fffffd;
$sidebar-additional: #abacb0;

$primary-color: #fbfbfb;
$secondary-color: #2c2d2d;
$link-color: #5c79b1;

$secondary-font: 'Open Sans', sans-serif;

$sidebar-width: 270px;

* {
margin: 0;
padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

@font-face {
   font-family: 'main-font';
    // src: url("/assets/fonts/Kadwa.ttf") format("truetype");
    // src: url("/assets/fonts/NotoSerifSC.ttf") format("truetype");
    src: url("/assets/fonts/KaiseiOpti.ttf") format("truetype");
}

body {
    font-family: 'main-font', serif;
    text-align: left;
    max-width: 1980px;
    background-color: $sidebar-primary;
    margin: 0 auto;
    font-size: 1.05em;
}
#sidebar {
    font-family: $secondary-font;
    font-weight: 500;
    letter-spacing: 0.4px;
    background-color: $sidebar-primary;
    margin: 0;
    padding: 0;
    width: $sidebar-width;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: #fff;

    img {
        width: 180px;
        border-radius: 100%;
        margin: 20px auto;
        display: block;
    }

    a {
        color: #fff;
        text-decoration: none;
        display: block;
        width: 225px;
        margin: 10px auto;
        text-align: center;
        line-height: 1.5em;
        font-size: 1.2em;
        padding: 10px 0;
        border-radius: 4px;
        border: 0.5px solid $sidebar-primary;
    }
    a:hover {
        background-color: rgba(0,0,0,0.3);
        border: 0.5px solid $sidebar-additional;
    }
    a.active {
        // border: 0.5px solid $sidebar-additional;
        background-color: rgba(0,0,0,0.3);
    }
    #logo a {
        margin: 0 auto;
        border-radius: 100%;
        background-color: $sidebar-primary;
        border: none;
    }
    #logo a:hover {
        background-color: $sidebar-primary;
        border: none;
        
    }
    #logo-alt {
        display: none;
    }
}

#toggleSidebar {
    float: left;
    position: fixed;
    top: 0;
    margin-left: $sidebar-width;
    background: none;
    border: none;
    font-size: 30px;
    color: $sidebar-additional;
    padding: 10px 15px;
    line-height: 1;

    span {
        display: none;
    }
}
#toggleSidebar:hover {
    cursor: pointer;
    color: rgba(0,0,0,0.7);
    text-decoration: none;
}


.hidden {
    display: none;
}
.margin-off {
    margin-left: 0!important;
}


div#content {
    background-image: url("/assets/img/bg-pattern.webp");
    background-repeat: repeat;
    margin-left: $sidebar-width;
    margin-top: 0px;
    padding: 20px 80px 20px 100px;
    min-height: 1000px;
    background-color: $primary-color;
    color: $secondary-color;
    list-style-position: outside;
    a {
        color: $link-color;
    }
}
#logo-alt {
    display: none;
}

#post-title {
    padding-top: 0px !important;
    margin-bottom: 10px;
}

#pub-date {
    float: right; 
    margin-top: -120px;
}


h1, h2, h3, h4, h5, h6 {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.1em;
}
h1 { font-size: 2.4em; }
h2 { font-size: 2.2em; }
h3 { font-size: 2.0em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.4em; }

ol, ul {
    padding: 10px 40px;
    list-style-position: outside !important;
}

p {
    line-height: 1.4em;
    margin-top: 0.7em;
}

li {
    margin-bottom: 0.7em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

figure {
    max-width: 500px;
    border-radius: 2px;
    box-shadow: 0px 7px 24px 5px #ADADAD;
    border: 1px solid #222;
    margin-bottom: 25px;
}
figure img {
    display: block;
    margin: 0 auto;
    padding: 2.5% 0;
    max-width: 95%;
    min-width: 450px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
figure figcaption {
    margin-top: -4px;
    padding: 0px 15px 10px 15px;
    font-size: 0.9em;
}

.fig-right {
    float: right;
    margin-left: 25px;
}
.fig-left {
    float: left; 
    margin-right: 25px;
}


blockquote {
    border-radius: 5px;
    box-shadow: 0px 7px 24px 5px #ADADAD;
    background-color: #fefefe;
    padding: 20px 30px;
    margin: 30px 40px;
    line-height: 1.7em;
    font-weight: 300;
    letter-spacing: 0.4px;

    p {
        margin: 0;
    }
}

.important-notice {
    border: 1px solid #ae1d15;
}

.footnote-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.footnote-highlight {
  background-color: yellow;
}

#footer {
    margin-top: 300px;
    border-top: 1px solid $secondary-color;
    color: $secondary-color;
}
#footer p {
    color: #777;
    margin-top: 10px;
    font-size: 0.8em;
}


@media only screen and (max-width: 1200px) {
    div#content {
        padding: 20px 50px 20px 80px;
    }
    blockquote {
        margin: 30px 10px;
    }
    figure {
        max-width: 390px;

        img {
            max-width: 390px;
            min-width: 150px;
        }
    }
    figure img {

        padding: 0;
        max-width: 100%;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
    }
    figure figcaption {
        padding: 10px 15px 10px 15px;
    }
  }

  @media only screen and (min-width: 671px) and (max-width: 950px) {
    div#content {
        padding: 0px 30px 20px 30px;

    }
    #sidebar {
        width: 100%;
        height: auto;
        position: static;
        display: block!important;

        #logo {
            display: none;
        }
        nav {
            display: block;
            padding-left: 50px;
        }
        a {
            display: inline-block;
            width: auto;
            margin: 0px;
            padding: 8px 20px;
            border-radius: 0;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 4px solid $sidebar-primary;
            padding: 9px 20px;
        }
        a:hover, a.active {
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 4px solid $link-color;
        }
    }
    #logo-alt {
        display: inline-block;
        height: auto;
        color: #fff;
        padding: 20px 50px;
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    #toggleSidebar {
        display: none;
    }
    div#content {
        margin-left: 0px;
        padding-top: 10px;
    }    

  }

  @media only screen and (max-width: 670px) {

    div#content {
        padding: 0px 30px 20px 30px;
        margin-left: 0px;
        padding-top: 10px;
    }
    #sidebar {
        width: 100%;
        height: auto;
        position: static;

        nav {
            padding-left: 0;
        }

        #logo {
            display: none;
        }
        nav {
            display: block;
            padding-left: 0;
            font-family: Arial, Verdana;
        }
        a {
            width: auto;
            margin: 0px;
            padding: 13px 20px;
            display: block;
            border: none;
        }
        a:hover, a.active {
            border: none;
        }
 
    }
    #logo-alt {
        display: inline-block;
        margin-left: 10px;
        letter-spacing: 1px;

    }  

    #date {
        display: none;
    }

    figure {
        width: 100%; 
        max-width: none;
        img {
            width: 100%;
            max-width: none;
        }
    }

    #logo-alt {
        display: block;
        height: auto; 
        color: #fff;
        padding: 20px 40px;
        font-size: 1.3em;
    }
    #toggleSidebar {
        z-index: 999;
        display: block;
        position: absolute;
        top: 0px;
        right: 15px; 
        left: auto;
        margin-left: 0px;
        margin-top: -5px;
        font-size: 2.5em;

        span {
            display: inline-block;
            font-size: 0.4em;
            vertical-align: middle;
            padding-left: 5px; 
        }
    }
    #toggleSidebar:hover {
        color: #fff;
    }

  }

  @media only screen and (max-width: 500px) {
    #pub-date {
        float: none; 
        margin-top: 10px;

    }
  }

  @media only screen and (max-width: 425px) {
    #toggleSidebar span {
        display: none;
    }
    #logo-alt {
        padding: 20px 10px;
    }
    div#content {
        padding: 0px 13px 20px 13px;
    }
    blockquote {
        margin: 20px 2px;
    }
}