---
layout: default
---
<a href="#" onclick="goBack()">&#706; &nbsp; Go Back</a>
<h1 id="post-tite">{{ page.title }}</h1>
<p style="word-spacing: 5px">Tags: 
  {% for tag in page.tags %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>
  {% endfor %}
</p>
<p id="pub-date">Published on {{ page.date | date_to_string }}</p>
</br>


<script>
function goBack() {
    var referringURL = document.referrer;
    // production
    var specificDomain = 'toenergy.org';
    
    if (referringURL.includes(specificDomain)) {
      history.go(-1); 
    } else {
      window.location.href = 'http://www.toenergy.org'; 
    }
  }
</script>



{{ content }}
